body{
    background-color: rgb(20, 157, 220);
    font-family: 'Times New Roman', Times, serif
}
.webpage{
    margin: 0px 30px 20px 30px;
    margin-top: -25%;
} 
h1{
    margin-bottom: 1%;
    text-align: center;
} 
.name{
    font-size: xx-large;
    margin-top: 80px;
}
.profile{
    margin: auto;
    width: 50%;
    overflow: auto;
    padding: 10%;
    margin-bottom: -10%;
}
.profile .profile_picture img{
    width: 180px;
    height: 180px;
    border-radius: 20%;
    margin: auto;
}
.city_information{
    font-size: 20px;
}
#mycity{
    width: 100%;
    height: 250px;
}
td, th{
    border: 1px solid;
    align-items: flex-end;
    height: 100%;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
}
.information{
    font-size: 20px;
}
.the_first_picture img, .the_third_picture img{
    width: 56%;
    float: right;
    padding: 0px 0px 0px 7px;
    height: 210px;
}
.the_second_picture img{
    width: 56%;
    float: left;
    padding: 0px 10px 0px 0px;
    height: 210px;
}
.first_place, .second_place, .third_place{
    padding: 12px;
}
.first_paragraph, .third_paragraph{
    font-size: 20px;
}
.second_paragraph{
    font-size: 20px;
}
h2{
    text-align: center;
    margin-top: -5%;
}

@media screen  and (min-width: 720px){
    .webpage{
        margin-top: -10%;
    } 
    .historical_class{
        display: flex;
        margin-top: 20px;
    }
    .historical_places{
      margin-left: 50px;
    }
    .Foreign_language, .Which_city{
        margin-left: 70px;
    }
    .name{
        margin-top: 10px;
        margin-left: 37px;
    }
    .profile .profile_picture img{
        width: 250px;
        border-radius: 25%;
        margin: auto;
        display: block;
    }
    .city_information{
        float: right;
        width: 48%;
    }
    #mycity{
        width: 50%;
        height: 250px;
    }
    .languages{
        margin-top: 20px;
    } 
    .the_first_picture img, .the_second_picture img, .the_third_picture img{
        float: right;
        height: 250px;
        width: 59%;
    } 
    .first_paragraph, .second_paragraph .third_paragraph{
        font-size: 20px;
    }
    
}